#!/usr/bin/env bash

echo Starting {{ flask_app_name }}

source {{ virtualenv_home }}/{{ flask_app_name }}/bin/activate

python3 {{ flask_home }}/{{ flask_app_name }}/app.py

echo Finished {{ flask_app_name }}
